/*Fonts*/
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
/*General style*/
body{
	margin: 0;
	background: url(../img/pattern.png);
	height: 100%;
	font-family: OpenSans;
}
/*Loading page*/
#logoav{
	position: fixed;
	z-index: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	-webkit-perspective: 600px !important;
	-moz-perspective: 600px !important;
	-ms-perspective: 600px !important;
	-o-perspective: 600px !important;
	perspective: 600px !important;
	flex-direction: row;
	justify-content: center;
}
#main{
	position: fixed;
	z-index: 1;
	display: block;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background: url(../img/ae.jpg);
}
#logoav img{
	display: block
	height: auto;
	max-height: 295px;
	max-width: 484px;
	width: 90%;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
	align-self:center;
}
#logostl{
	position: fixed;
	max-height: 50px;
	height: 100vw;
	width: auto;
	right: 5px;
	bottom: 5px;
}
/*Main menu*/
#button{
	position: fixed;
	top: -10px;
	left: -10px;
	z-index: 15;
	display: none;
}
#panel{
	height: 100vh;
	background: #2d2d2d;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	opacity: 0;
}
#menu{
	position: fixed;
	z-index: 5;
	background: #199da4;
	top: -50px;
	left: 0;
	width: 100vw;
	height: 50px;
	display: none;
	box-shadow: 0px 0px 15px 0px #111;
	flex-direction: row;
	justify-content: space-between;
}
.left,.right{
	width: 50%;
	display: flex;
	flex-direction: row;
}
.left{
	justify-content: flex-start;
}
.right{
	justify-content:flex-end;
}
.directory{
	flex-grow: 0;
	width: 50%;
	display: inline-block;
	height: 50px;
	text-decoration: none;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.active,.directory:hover,#topbar:hover{
	background: #D32232;
}
#topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
	width: 100%;
	height: 50px !important;
	text-decoration: none;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	margin: 0;
	padding: 0;
    width: 100%;
    display: none;
    -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
/*Pages in general*/
.page{
	display: none;
	opacity: 0;
}
/*Main page*/
#main{
	display: block;
	opacity: 1;
}
.content,.dyncontent{
	position: absolute;
	height: auto;
	min-height: calc(100vh - 85px);
	width: 90%;
	max-width: 1600px;
	top: 85px;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}
/*About page*/
.category{
    width: 100vw;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.badge{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 225px;
	height: 225px;
	width: 95%;
	margin: 15px;
	margin-top: 0;
	margin-bottom: 30px;
	/*background: #2d2d2d;
    box-shadow: 0px 0px 15px 0px #111;*/
}
.badge img{
	display: block;
	align-self:center;
	height: 185px;
	width: 185px;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px #111;
    -webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.badge img:hover{
    background-color: #D32232;
    box-shadow: 0px 0px 15px 0px #D32232;
}
.description{
	align-self: flex-end;
	flex: none;
	height: 25px;
	width: 100%;
	line-height: 25px;
	color: #fff;
    margin-top: 2.5px;
	text-align: center;
}
/*Works page*/
.workitem{
    cursor: pointer;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 350px;
	height: 225px;
	width: 95%;
	margin: 15px;
	margin-top: 0;
	margin-bottom: 30px;
	background: #2d2d2d;
    box-shadow: 0px 0px 15px 0px #111;
}
.workitem img{
	display: block;
	align-self:center;
	width: 100%;
	background: red;
	height: calc(100% - 75px;)
}
.name{
	align-self: flex-end;
	flex: none;
	height: 25px;
	width: 100%;
	/*margin-top: 2.5px;*/
	line-height: 25px;
	color: #fff;
	text-align: center;
}
/*Contact page*/
/*Dynamic load page*/
.dyncontent{
	flex-direction: column;
	justify-content: space-between;
	justify-content: center;
	align-content: flex-start;
}
.fotorama{
    background-color: #222;
    box-shadow: 0px 0px 15px 0px #111;
}
.info{
    width: 80%;
    max-width: 1600px;
    margin-top: 25px;
    color: #fff;
    text-align: justify;
    padding-bottom: 25px;
}
/*Mobile version*/
@media screen and (max-width: 640px) {
    .content{
        width: 100%;
        margin: 0;
        top: 50px;
        padding: 0;
    }
    .fotorama{
        background-color: #222;
        box-shadow: 0px 0px 15px 0px #111;
    }
    .info{
        width: 85%;
        font-size: 18px;
    }
	#menu,.left,.right{
		flex-direction: column;
		flex:none;
		width: 100vw;
		z-index: 8;
	}
	.directory{
        height: 75px;
        line-height: 75px;
        border-bottom: 1px solid #222;
		width: 100vw;
        font-size: 22px;
	}
	.zone,.active{display: none;}
    .left{
        margin-top: 50px;
    }
    #topbar,#button{
        display: block;
    }
    #topbar{font-size: 25px;}
    .category{
        width: 100vw;
        height: 35px;
        line-height: 35px;
        font-size: 22px;
        color: #fff;
        text-align: center;
        background: red;
        margin-top: -35px;
        margin-bottom: 10px;
    }
}