@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow:inset $left $top $blur $color;
  } @else {
    box-shadow: $left $top $blur $color;
  }
}

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@mixin flex-horizontal {
  @include display-flex();
  flex-direction: row;
}

@mixin flex-vertical {
  @include display-flex();
  flex-direction: column;
}