$background-gray: #1b1b1b;
$element-gray: #2d2d2d;
$element-gray-darker: darken($element-gray, 2.5%);
$dark-shadow: rgba(0, 0, 0, .5);
$light-text: #f5f5f5;
$dark-text: #232323;
$blue: #199da4;
$magenta: #d32232;
