@import 'variables';
@import 'mixins';

.segment {
  @include box-shadow(0, .15rem, 1rem, $element-gray-darker);
  padding: 1rem;
  border-radius: .28571429rem;
  background: $element-gray;
  border: 1px solid $element-gray-darker;
  color: $light-text;
  margin-bottom: 1rem;
  position: relative;
  background-clip: padding-box;
}

.wide.segment {
  padding-bottom: 56.25%;
}
