@import 'variables';
@import 'mixins';

@import 'container';
@import 'segment';
@import 'about';
@import 'contact';
@import 'portfolio';

/*General style*/
html {
  background-color: $background-gray;
}
body {
  margin: 0;
  background: url(../img/web/pattern.png);
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

/*General*/
.disabled {
  pointer-events: none;
  opacity: .5;
}

.hero-header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
}

/*Main menu*/
#menu {
  @include flex-horizontal();
  position: fixed;
  z-index: 5;
  left: 0;
  width: 100vw;
  height: 4rem;
  justify-content: space-between;
  top: -1rem;
  opacity: 0;
  will-change: opacity;

  .spacer {
    width: 0;
  }

  .directory {
    color: $light-text;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    line-height: 4rem;

    &:hover {
      .hidden {
        top: 35%;
        opacity: 1;
      }

      .visible {
        transform: translateY(20%);
      }
    }

    .hidden {
      position: absolute;
      top: -50%;
      margin-top: -.5em;
      opacity: 0;
    }

    .visible {
      position: relative;
      transform: translateY(0);
      opacity: 1;
    }

    .hidden,
    .visible {
      will-change: transform,opacity;
      width: 100%;
      text-align: center;
      transition: top .35s ease, transform .5s ease, opacity .125s ease;
    }
  }
}

#menu-trigger {
  display: none;
}

/*Page cover*/
#page-cover {
  position: fixed;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url(../img/web/ae.jpg);
  will-change: transform;
}

/*Av logo*/
#av-logo {
  @include flex-vertical();
  position: fixed;
  z-index: 2;
  perspective: 600px !important;
  transition: filter .5s ease;
  will-change: left, top;
  width: 100%;

  img {
    display: block;
    height: 18rem;
    max-width: 32rem;
    width: 80%;
    transform: rotateX(90deg);
    transition: filter .5s ease;
    align-self:center;

    &:hover {
      filter: brightness(1.5) !important;
    }
  }

  &.reduced {
    cursor: pointer;
    z-index: 10;

    img {
      filter: brightness(0) invert(1);
    }
  }
}

/*Page*/
#page-container-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#page-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  will-change: scroll-position;
}

.page-content {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .responsive.grid {
    flex-direction: column;

    .col {
      width: 100%;
      padding: 0 .5rem 0;
    }
  }

  #menu {
    @include flex-vertical();
    width: 100%;
    height: auto;
    padding-top: 4rem;
    background: rgba(35, 35, 35, .75);
    z-index: 9;
    transform: translateY(-20rem);

    .directory {
      @include flex-horizontal();

      .hidden {
        display: none;
      }

      &:hover {
        .visible {
          transform: scale(1.25);
        }
      }
    }

    .separator {
      display: none;
    }
  }

  #menu-trigger {
    @include flex-horizontal();
    position: fixed;
    width: 100%;
    z-index: 11;

    i {
      color: $light-text;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 1rem;
    }
  }

  #page-cover {
    position: static;
  }

  #av-logo {
    position: absolute;
  }

  #page-container-wrapper {
    height: auto;
    width: 100%;
    overflow: auto;
  }
  
  #page-container {
    height: auto;
    width: 100%;
    overflow: auto;
    background-size: cover;
    background-position: center center;
    background-size: cover;
    will-change: scroll-position;
  }

  .page-content {
    display: block;
  }
}
